<div class="container">
  <div class="login-form">
    <h1>Login</h1>
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        type="email"
        [formControl]="emailControl"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        type="password"
        [formControl]="passwordControl"
        required
      />
    </mat-form-field>

    <mat-form-field *ngIf="currentButtonState === 'register'">
      <input
        matInput
        placeholder="Confirm Password"
        type="password"
        [formControl]="confirmPasswordControl"
        required
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="login-form-button"
      (click)="onPrimaryButtonClick()"
    >
      {{ primaryButtonText }}
    </button>

    <button
      mat-raised-button
      color="secondary"
      class="login-form-button"
      (click)="onSecondaryButtonClick()"
    >
      {{ secondaryButtonText }}
    </button>
  </div>
</div>
